@charset "utf-8";
.tieude{
	width: 534px;
}
.khunganh1{
	width: 150px;
	height: 107px;
	overflow: hidden;
	float: right;
	margin: 0px 15px 10px;
}
.hinh{
	width: 150px;
	height: 107px;
	transition: 1s;
}
.hinh:hover{
	transform: scale(2);
	transition: 1s;}
a.tieude{
	text-decoration: none;
	font-size: 14px;
	color: black;
	font-weight: bold;

}

p{
	font-size: 19px;
}
.khung{
	width: 534px;
}
article{
	width: 252px;
	height: 235px;
	margin-right: 15px;
	margin-bottom: 20px;
	float: left;
	
}
.khunganh{
	width: 252px;
	height: 160px;
	overflow: hidden;	
	margin-bottom: 5px;
}
img{
	width: 252px;
	height: 160px;
	transition: 1s;
	
}
img:hover{
	transform: scale(2);
	transition: 1s;}
a{
	text-decoration: none;
	font-size: 14px;
	color: black;
	font-weight: bold;
	
	
}
a:hover{
	color: red;
}
