@charset "utf-8";
/* CSS Document */
.khungngoai{
	width: 315px;
	height: 83px;
	border-bottom: 1px solid gray;
	padding-top: 15px;
	padding-bottom: 15px;
	overflow: hidden;

}
.khunganh{
	width: 121px;
	height: 83px;
	overflow: hidden;
	margin-right: 15px;
	float: left;
}
img{
	width: 121px;
	height: 83px;
	transition: 1s;
}
img:hover{
	transform: scale(2);
	transition: 1s;
	
}
.cau1{
	text-decoration: none;
	font-family: tahoma;
	color: black;
	font-size: 15px;
	font-weight: bold;
}
